/* Post Editor:  */

.post-body-input {
  min-height: 220px;
  max-height: 60vh;
  overflow-y: auto;
}

/* --------------------------------------------------------- */

/* Post Preview:  */

.post-editor-preview {
  max-width: 850px;
  padding: 24px;
  border: 1px solid grey;
}

.post-preview {
  cursor: pointer;
}

.post-preview:hover {
  background-color: #f8f8f8;
}

/* Preserve line breaks */
.post-view-body {
  white-space: pre-wrap;
}

/* --------------------------------------------------------- */
