<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> {{ page_title }} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vite/assets/index.css') }}">
  </head>

  <body>
    <div class="container fluid px-0">

      <nav class="mb-4">
        <a href="/home" class="me-3"> Home </a>
        <a href="/announcements" class="me-3"> Announcements </a>
        <a href="/questions" class="me-3"> Questions </a>
        <a href="/notes_resources" class="me-3"> Notes / Resources </a>
        <a href="/chat" class="me-3"> Chat </a>
      </nav>

      <div
        id="root"
        data-post-type="{{ selected_post_type }}"
        data-page-title="{{ page_title }}"
        data-page-description="{{ page_description }}"
        data-new-post-label="{{ new_post_label }}"
        data-can-post="{{ 'yes' if can_post else 'no' }}"
        data-current-user-email="{{ current_user_email }}"
      ></div>

    </div>

   <!-- built Vite js -->
   <script type="module" src="{{ url_for('static', filename='vite/assets/index.js') }}"></script>

 </body>
</html>
