<!DOCTYPE html>
<html lang="en">
		<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>StuyOverflow: My Skills</title>
		</head>
		<body>
				Hello, {{ name }}! <br>
				<a href="{{ url_for('logout') }}">Log Out</a>
				<br><br>
				<table bgcolor="#999999">
						{% for i in range(skills | length) %}
								<tr bgcolor="#ffffff">
										<th> {{ skills[i] }} </th>
										{% for j in range(entries | length) %}
												<td> {{ entries[j][i] }} </td>
										{% endfor %}
								</tr>
						{% endfor %}
				</table>
		<!--
						<tr bgcolor="#ffffff">
								{% for field in fields %}
										<th> {{ field }} </th>
								{% endfor %}
						</tr>
								{% for row in entries %}
										<tr bgcolor="#ffffff">
												{% for item in row %}
														<td> {{ item }} </td>
												{% endfor %}
										</tr>
								{% endfor %}
						</tr>
				</table>
		-->
		</body>
</html>